canvas{
    border:5px black ridge;
    animation-name: animation1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

h1{
    font-size: 25px !important ;
    animation-name: animation1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
} 

.btn-success:hover{
background-color: red;
}

@keyframes animation1{
    from{
        box-shadow: 10px 10px 20px red;
        
    }
    to{
        box-shadow: -10px 1px 20px purple;
    }
}